In [23]:
import pandas as pd
iris = pd.read_csv('iris.csv')
iris.sample(10)

     sepal_length  sepal_width  petal_length  petal_width     species
25            5.0          3.0           1.6          0.2      setosa
77            6.7          3.0           5.0          1.7  versicolor
102           7.1          3.0           5.9          2.1   virginica
86            6.7          3.1           4.7          1.5  versicolor
68            6.2          2.2           4.5          1.5  versicolor
124           6.7          3.3           5.7          2.1   virginica
12            4.8          3.0           1.4          0.1      setosa
26            5.0          3.4           1.6          0.4      setosa
118           7.7          2.6           6.9          2.3   virginica
76            6.8          2.8           4.8          1.4  versicolor

In [29]:
from sklearn import linear_model
from sklearn.model_selection import cross_val_score
import numpy as np
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
# 将离散值变成数值型数据
le.fit(iris['species'])   
lm = linear_model.LogisticRegression()
features = ['sepal_length', 'sepal_width', 'petal_width']
X = iris[features]
y = le.transform(iris['species'])
score = cross_val_score(lm, X, y, cv=5, scoring='accuracy').mean()
score

0.9466666666666667